.code { background: url("../../images/code_bg.png") repeat-y; margin: 10px 0px; overflow:hidden; }

.code > span { color: #fff; font: bold 12px "Trebuchet MS", "Verdana", Sans-serif; background: #808080; height: 25px; padding: 4px 15px; }

.code ol {
	float:left;
	clear: both;
	list-style: decimal;
	margin: 0px 0px 0px 42px;
	padding: 0px 0px 5px 0px;
	width: 620px;
	margin-top: 10px;
}

.code ol li {
	font: 12px "Courier", monospace;
	white-space: pre-wrap;
	clear: left;
}

p.code {
	margin: 0px;
	padding: 0px 0px 10px;
}

p.code a {
	font-size: 10px;
	cursor: pointer;
}

code {
	width: 620px;
	font: 12px "Courier", monospace;
	display: none;
	background: #fff;
	border: 1px solid #000;
	padding: 5px;
	margin-top: 10px;
}

li span.N{ color:#ff0000; } /* Numbers */
li span.S{ color:#008080; } /* Strings */
li span.C{ color:#008000; } /* Comments */
li span.K{ color:#0000ff; } /* Keywords */
li span.V{ color:#000080; } /* Vars */
li span.D{ color:#0000ff; } /* Defines */