/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

/* HTML5 set */
article, header, nav, section, aside, footer, time { display:block; }

/* Page Styles */
html { width:100%; height:100%; }
body { width:960px; margin:0 auto; height:100%; }
p { font:14px Georgia, serif; }
a img { border:0; }

/* Header Styles */
#pageHead { overflow:hidden; position:relative; }
#pageHead h1 { background:url(images/logo.png) no-repeat; width:283px; height:0; padding:56px 0 0; margin:25px 0 5px; overflow:hidden; float:left; }
#pageHead .nav { float:right; position:absolute; bottom:0; right:0; padding:0 10px 5px; overflow:hidden; background:#a3bfaf; }
#pageHead .nav li { float:left; height:24px; padding:6px 10px 0; }
#pageHead img { padding:2px 5px 0 0; }
#pageHead img.last { padding-right:0; }
#pageHead .nav a { color:#fff; font:bold 18px 'Trebuchet MS', sans-serif; text-transform:uppercase; text-decoration:none; }
#pageHead .social { position:absolute; right:0; top:19px; overflow:hidden; }
#pageHead .social li { float:left; }
#pageHead .social a { display:block; width:44px; height:0; padding:32px 0 0; background:url(images/social_tabs.png) no-repeat; margin:0 15px 0 0; overflow:hidden; }
#pageHead .twitter a { background-position:-44px 0; }
#pageHead .rss:hover a { background-position:0 -32px; display:block; }
#pageHead .twitter:hover a { background-position:-44px -32px; display:block; }

/* Featured item rotator */
#featured { display:block; width:960px; height:300px; overflow:hidden; position:relative; background:url(/themes/dx2010/images/featured_progress.png) no-repeat -960px 100%; }
#featured li { width:960px; height:295px; overflow:hidden; position:absolute; top:0; left:0; }
#featured a { display:block; width:960px; height:295px; position:absolute; top:0; left:0; text-decoration:none; text-transform:uppercase; font:bold 14px 'Trebuchet MS', sans-serif; }
#featured h2 { margin:0; padding:5px 10px 5px 5px; position:absolute; bottom:35px; left:10px; background:#1a1e26; font-size:24px; color:#fff; }
#featured p { margin:0; padding:5px 10px 5px 5px; position:absolute; bottom:15px; left:10px; background:#1a1e26; color:#fff; }
#featured a:hover p, #featured a:hover h2 { background:#f26716; cursor:pointer; }
#featured img.segments { position:absolute; left:0; top:295px; }

/* Main Content */
#sectionHead { font:bold 24px 'Trebuchet MS', sans-serif; text-transform:uppercase; background:#1fa68d; padding:10px; color:#fff; }
#content { margin:10px; overflow:hidden; }
#body { width:620px; float:left; margin:0 20px 0 0; overflow:hidden; }
#body.full { width:940px; }

/* Article Styles */
#body article { position:relative; margin:0 0 20px; }
#body h3 { border-bottom:2px solid #1a1e26; margin:0 0 10px; font:bold 24px 'Trebuchet MS', sans-serif; text-transform:uppercase; }
#body article h3 a { color:#1a1e26; text-decoration:none; padding:0 10px 0 0; }
#body article h3 a:hover { background:#1a1e26; color:#fff; }
#body article .meta { float:left; }
#body article time { display:block; position:relative; width:60px; height:80px; margin:0 0 10px; overflow:hidden; border:1px solid #1a1e26; border-radius:2px; -moz-border-radius:2px; }
#body article .day { margin:0 0 1px; text-align:center; display:block; width:60px; font:bold 28px/38px 'Trebuchet MS', sans-serif; color:#1a1e26; }
#body article .month { text-align:center; display:block; width:60px; font:bold 18px 'Trebuchet MS', sans-serif; color:#fff; background:#1a1e26; text-transform:uppercase; letter-spacing:1px; position:absolute; bottom:0; }
#body article .year { display:block; font-size:10px; }
#body article .tags li { text-align:center; width:62px; margin:0 0 5px; padding:0 0 3px; }
#body article .tags a { font:bold 10px 'Trebuchet MS', sans-serif; text-transform:uppercase; color:#1a1e26; text-decoration:none; }
#body article .tags a:hover { color:#f26716; }
#body article .body { width:540px; margin:0 0 0 70px; }
#body article .body ul { list-style:disc; padding:0 0 0 15px; margin:0 0 0 5px; }
#body h4 { font:bold 16px Georgia, serif; margin:0 0 2px; }
#body article p { margin:0 0 10px; }
#body article p img { max-width:540px; display:block; margin:0 auto; }
#body article p a { color:#f26716; }
#body article p a:hover { text-decoration:none; }
#body article footer { border-top:2px solid #1a1e26; clear:both; overflow:hidden; margin-top:30px; }
#body article footer ul { overflow:hidden; margin:5px 0 0; }
#body article footer ul li { float:left; margin-right:10px; }
#body article .comments { height:20px; background:url(images/comments_count.png) no-repeat right 0; }
#body article .comments a { text-decoration:none; display:block; height:20px; background:url(images/comments.png) no-repeat; }
#body article .comments span { font:11px Arial; color:#695609; }
#body article .comments .label { padding:6px 11px 0 19px; }
#body article .comments .count { padding:6px 6px 10px 4px; }
#body article .facebook iframe { border:none; overflow:hidden; width:250px; height:21px; }
#body article .more { padding:5px 25px; background:#1a1e26; position:absolute; right:0; bottom:27px; padding:3px 20px 1px; font:bold 14px 'Trebuchet MS', sans-serif; text-decoration:none; color:#fff; text-transform:uppercase; }
#body article .more:hover { background:#f26716; }
#body article blockquote { margin:10px; font:italic 14px/1.6em "Trebuchet MS", Sans-serif; background:url(images/quotes.png) no-repeat 470px 100%; }
#body article blockquote span { display:block; background:url(images/quotes.png) no-repeat -53px 0; padding:20px; }
#body article h4 { font:bold 16px 'Trebuchet MS', sans-serif; text-transform:uppercase; }
#body article a.comic { position:relative; color:#fff; font:bold 18px 'Trebuchet MS', sans-serif; display:block; text-transform:uppercase; text-decoration:none; border:1px solid #000; padding:4px; }
#body article a.comic div { width:520px; height:0; background-position:10% 10%; padding:308px 4px 4px; overflow:hidden; }
#body article a.comic span { position:absolute; display:block; right:10px; bottom:15px; padding:10px; background:#1a1e26; }
#body article a.comic:hover span { background:#f26716; }

/* Comments */
#comments article { overflow:hidden; position:relative; min-height:52px; }
#comments .odd { border-right:2px solid #f26716; background:#f8eee7; }
#comments .even { border-right:2px solid #1fa68d; background:#ecfaf8; }
#comments article header { margin:0 0 0 62px; font:bold 14px Georgia, serif; }
#comments article time { float:none; display:inline; border:0; height:auto; width:auto; }
#comments article p { margin:0 0 10px 62px; padding:0 10px 0 0; }
#comments article img { position:absolute; top:0; left:0; padding:1px; border:1px solid #000; margin:0 10px 0 0; width:48px; height:48px; }
#comments .commentReply { display:block; text-align:right; margin:5px 10px; font:bold 12px Georgia, serif; }
#comments .commentReply:hover { text-decoration:none; }
#comments .odd .commentReply { color:#f26716; }
#comments .even .commentReply { color:#1fa68d; }
#comments .commentPages { margin:5px 0 10px; }
#comments .commentPages li { display:inline; }
#comments .commentPage { padding:5px 10px; font:bold 14px 'Trebuchet MS', sans-serif; color:#1a1e26; cursor:pointer; text-decoration:none; }
#comments .commentPage.selected { background:#1fa68d; color:#fff; }
#comments .commentPage:hover { background:#f26716; color:#fff; }

/* Comment form */
#commentForm label { width:200px; font:14px 'Trebuchet MS', sans-serif; display:block; }
#commentForm input { width:250px; font:14px 'Trebuchet MS', sans-serif; margin:0 0 10px; }
#commentForm button { display:block; height:40px; width:120px; }
#commentForm textarea { width:500px; height:150px; margin:0 0 10px; }
#commentForm .left { float:left; width:60px; }
#commentForm .avatar { width:56px; height:56px; padding:1px; border:1px solid #000; display:block; margin:0 0 5px; }
#commentForm .left a { display:block; padding:0 0 5px; }
#commentForm .right { margin-left:70px; }
label.error { color:#f00; }

/* Blog main footer */
#body .newer, #body .older { float:left; padding:5px 25px; background:#1a1e26; padding:3px 20px; font:bold 14px 'Trebuchet MS', sans-serif; text-decoration:none; color:#fff; text-transform:uppercase; }
#body .newer { float:right; }
#body .newer:hover, #body .older:hover { background:#f26716; }

/* Right Column */
#rightColumn { float:left; width:300px; }
#rightColumn h2 { border-bottom:2px solid #1a1e26; margin:0 0 10px; font:bold 24px 'Trebuchet MS', sans-serif; color:#1a1e26; text-transform:uppercase; text-decoration:none; }
#rightColumn aside { margin:0 0 25px; }

/* Most Popular */
#mostPopular li { height:35px; background:#1fa68d url(images/most_popular.png) no-repeat; margin:0 0 10px; position:relative; }
#mostPopular li.second { background-position:0 -35px; opacity:0.8; }
#mostPopular li.third { background-position:0 -70px; opacity:0.6; }
#mostPopular li.fourth { background-position:0 -105px; opacity:0.4; }
#mostPopular li.fifth { background-position:0 -140px; opacity:0.2; }
#mostPopular li:hover { opacity:1; background-color:#f26716; cursor:pointer; }
#mostPopular a { position:absolute; left:45px; bottom:2px; font:14px Georgia, serif; color:#000; text-decoration:none; }

/* ABout Me */
#aboutMe { overflow:hidden; }
#aboutMe img { border:1px solid #000; width:138px; height:138px; float:left; padding:1px; display:block; margin:0 10px 10px 0; }

/* Twitter styles */
#twitter, #music { overflow:hidden; }
#twitter img, #music img { border:1px solid #000; padding:1px; width:48px; height:48px; float:left; }
#twitter p, #music p { margin:0 0 0 62px; }
#twitter time, #music time { margin:5px 0 0 62px; font:bold 10px Georgia, serif; text-transform:uppercase; }
#twitter a, #music a { color:#f26716; }
#twitter a:hover, #music a:hover { text-decoration:none; }
.twitter-share-button { background:url(images/tweet_button.png) no-repeat; display:block; width:55px; height:0px; padding:20px 0 0; overflow:hidden; }
.twitter-share-button:hover { background-position:0 -21px; }

.facebook-share-button { background:url(images/facebook_button.png) no-repeat; display:block; width:45px; height:0px; padding:20px 0 0; overflow:hidden; }
.facebook-share-button:hover { background-position:0 -20px; }

/* Tag Cloud */
#tagCloud div { width:300px; font:22px Georgia, serif; }
#tagCloud div a { white-space:nowrap; color:#1a1e26; text-decoration:none; }
#tagCloud div a:hover { color:#f26716; }

/* Footer styles */
#pageFooter { background:#1fa68d; padding:10px; }
#pageFooter p { color:#fff; font:bold 12px 'Trebuchet MS', sans-serif; }

/* Advertisement banner */
#ad { padding:15px 0; background:url(images/ad.png) no-repeat; }
#ad div { margin:0 !important; }

/* Archives */
#archives { position:relative; }
#archives h2 { margin-bottom:5px; }
#archives h3 { font:bold 18px 'Trebuchet MS', sans-serif; text-align:center; text-transform:uppercase; }
#archives table { margin:0; padding:0; width:300px; border-collapse:collapse; }
#archives table td { text-align:center; height:41px; background:#bfbfbf; font:bold 18px 'Trebuchet MS', sans-serif; color:#fff; padding:0; border:2px solid #fff; vertical-align:middle; }
#archives td.hasPosts { background:#1fa68d; }
#archives td.hasPosts:hover { cursor:pointer; background:#f26716; }
#archives td.noDate { background:#e3e3e3; }
#archives a.control { background:url(images/archive_control.png) no-repeat; display:block; width:12px; height:0; padding:14px 0 0; overflow:hidden; position:absolute; top:40px; }
#archives a.control[rel="prev"] { left:1px; }
#archives a.control[rel="next"] { background-position:right top; right:1px; }

/* Overrides */
.code ol { width:498px; }

/* Gallery */
#gallery a { position:relative; border:1px solid #000; padding:2px; width:174px; height:174px; display:block; float:left; margin:0 10px 10px 0; text-decoration:none; }
#gallery img { width:174px; height:174px; opacity:.5; }
#gallery a.rowLast { margin-right:0; }
#gallery a:hover img { opacity:1; }
#gallery a p { position:absolute; bottom:10px; left:10px; font:14px Georgia, serif; background:#1a1e26; color:#fff; padding:4px; max-width:150px; }
#gallery a:hover p { background:#f26716; }
#galleryBg { display:none; background:url(images/lightbox_bg.png); position:fixed; left:0; top:0; width:100%; height:100%; text-align:center; }
div#galleryItem { height:625px; width:0; margin:0 auto; background:#fff; position:relative; }
#galleryItem .close { position:absolute; right:0; bottom:0; padding:5px 25px; background:#1a1e26; font:bold 14px 'Trebuchet MS', sans-serif; text-decoration:none; color:#fff; text-transform:uppercase; }
#galleryItem .close:hover { background:#f26716; }
#galleryItem iframe { width:800px; height:600px; }

.gallerySingle { padding:4px; border:1px solid #000; margin:0 0 10px; }
.gallerySingle object, .gallerySingle embed { display:block; margin:0 auto; }
.gallerySingle img { max-width:610px; max-height:610px; margin:0 auto; display:block; background:#fff; }
.gallerySingle a.enlarge { position:relative; color:#fff; font:bold 18px 'Trebuchet MS', sans-serif; display:block; text-transform:uppercase; text-decoration:none; }
.gallerySingle a.enlarge span { position:absolute; display:block; right:10px; bottom:15px; padding:10px; background:#1a1e26; opacity:0.5; }
.gallerySingle a.enlarge:hover span { opacity:1; background:#f26716; }
.mediaThumb { float:right; }
.mediaThumb img { width:140px; border:1px solid #000; padding:4px; display:block; margin:0 0 35px 10px; }

#Photo { float:left; text-align:center; font:14px Georgia, serif; margin:0 10px 0 0; }
#Photo img { display:block; border:1px solid #000; padding:4px; }
#Contact { margin:0 0 0 320px; }
#Contact ul { width:450px; overflow:hidden; margin:10px 0; }
#Contact ul li { display:inline; float:left; }
#Contact ul li a { display:block; width:120px; text-decoration:none; font:14px Georgia, serif; height:25px; padding:7px 0px 0px 40px; margin:5px; color:#1a1e26; background:url(images/social.png) no-repeat; overflow:hidden; }
#Contact ul li a:hover { color:#f26716; }
#Contact ul li a.email { background-position: 0px 0px; }
#Contact ul li a.none { background: none; }
#Contact ul li a.digg { background-position: 0px -32px; }
#Contact ul li a.facebook { background-position: 0px -64px; }
#Contact ul li a.flickr { background-position: 0px -96px; }
#Contact ul li a.lastfm { background-position: 0px -128px; }
#Contact ul li a.linkedin { background-position: 0px -160px; }
#Contact ul li a.twitter { background-position: 0px -192px; }
#Contact ul li a.youtube { background-position: 0px -224px; }
#Contact ul li a.deviantart { background-position: 0px -256px; }
#Contact h4 { font:10px Georgia, serif; }

/* Search */
.searchStats { font-size:16px; }
#body .search { list-style:decimal; padding:0 0 0 35px; color:#000; margin:0 0 20px; }
#body .search li { font:bold italic 16px Georgia, serif; color:#888; padding:0 0 10px; position:relative; }
#body .search h3 { border:0; margin:0; }
#body .search h4 { font:12px Georgia, serif; }
#body .search a { font:bold 16px 'Trebuchet MS', sans-serif; color:#f26716; text-decoration:none; }
#body .search a:hover { background:#f26716; color:#fff; padding:0 4px 0 0; }
#body .search p { color:#000; padding-right:80px; }
#body .search img { height:60px; width:60px; border:1px solid #000; padding:4px; display:block; position:absolute; right:0; top:12px; }

#error { width:600px; margin:0 auto; }
#error img { float:left; padding:0 15px 0 0; }
#error h2 { text-transform:uppercase; font:bold 36px 'Trebuchet MS', sans-serif; padding:60px 0 0; }

/* Poll styles */
#body article .graph { font:12px 'Trebuchet MS', sans-serif; width:540px; margin:0 0 20px; }
#body article .graph ul { margin:0; padding:0; list-style:none; }
#body article .graph li { padding:5px; position:relative; height:18px; }
#body article .graph .data { display:none; position:absolute; top:30px; left:190px; z-index:100; background:#fff; padding:5px; border:1px solid #000; }
#body article .graph span { width:175px; display:block; float:left; text-align:right; padding:0 10px 0 0; }
#body article .graph .bar { padding:9px; background:#f26716; opacity:.5; border:1px solid #000; float:left; }
#body article .graph li:hover { background:#eee; cursor:pointer; }
#body article .graph li:hover .bar { opacity:1; }
#body article .graph li:hover .data { display:block; }
#body article .graph h4 { text-align:center; text-transform:uppercase; background:#ccc; margin:0; padding:5px; }

/* Poll form */
#body article .poll { margin:0 0 20px; }
#body article .poll h4 { text-align:center; text-transform:uppercase; background:#ccc; margin:0; padding:5px; }
#body article .poll ul { list-style:none; margin:0 auto; }
#body article .poll li { margin:5px 0; font:14px Georgia, serif; padding:0 100px; }
#body article .poll button { display:block; width:100px; height:30px; margin:0 auto; }